/* TODO: vars */

/* or ace-code-section > [id^='.panels.left.buttons.copy_to_clipboard*'] */
/* ,  ace-code-section > [id^='.panels.righ.buttons.copy_to_clipboard*'] */
ace-button-copy-to-clipboard {
    z-index     : 2;
    position    : 'absolute';
    top         : '5px';
    right       : '5px';
}
/* or ace-code-section > [id^='.panels.left.buttons.CE*'] */
ace-button-send-to-godbolt {
    z-index     : 2;
    position    : 'absolute';
    top         : '5px';
    right       : '55px';
}
#ace-loading-animation {
    contain             : 'strict';
    border              : '1px solid var(--primary-color)';
    border-radius       : '5px';
    width               : '100%';
    height              : '100%';
    box-sizing          : 'border-box';
    display             : 'none' /* hidden by default */
}

ace-code-section {
    display         : 'flex';
    flex-direction  : 'row';
    align-items     : 'stretch';
    box-sizing      : 'border-box';
    width           : '100%';
    min-height      : '50px'
}

/* WIP: panels */
ace-code-section > [id^='.panels.*'] {
    flex:       '1 1 min-content';
    overflow:   'auto';
    position:   'relative';
    top:        0;
    left:       0;
    width:      '100%';
    margin:     0
}

code-section > pre {
    border-radius: var(--border-radius-small);
    border: 1px solid var(--separator-color);
    overflow: hidden;
}